##  Tuple All Methods  ##

In [6]:
##  Accessig Element  ##
x=("Ram","Sita", "Hanuman","Lakshman","Bharat","Satrughan")
x[0]
x[1]
x[-4]
x[1:]
x[-4:]
x[-3:5]

('Lakshman', 'Bharat')

In [8]:
###  Add two Tuples  ##
x=(1,2,3)
y=(5,6,7)
x,y
print(x+y)

(1, 2, 3, 5, 6, 7)

In [10]:
##  Count  any digit or word in Tuple ##
z=(1, 2, 3, 5, 6, 7)
z.count(2)

1

In [12]:
##   Find the endexing of Any Element  ##
x=("Ram","Sita", "Hanuman","Lakshman","Bharat","Satrughan")
x.index("Hanuman")

2

In [13]:
len(x)

6

In [16]:
##  Max Formula "
x=("Ram","Sita", "Hanuman","Lakshman","Bharat","Satrughan")
max(x)
z=(1, 2, 3, 5, 6, 7)
max(z)

7

In [17]:
##  Min Formula   ##
x=("Ram","Sita", "Hanuman","Lakshman","Bharat","Satrughan")
min(x)
z=(1, 2, 3, 5, 6, 7)
min(z)

1

In [18]:
##   Sum Formula   ##
z=(1, 2, 3, 5, 6, 7)
sum(z)

24

In [22]:
z=(4,3,5,6,3,2,5,7,7,9,6,5,3,3,5,6,6,5,4,3,3,5,7,7,4,3,4,5,6,6, 5, 6, 7)
3in z

<>:2: SyntaxWarning: invalid decimal literal
<>:2: SyntaxWarning: invalid decimal literal
C:\Users\hp\AppData\Local\Temp\ipykernel_3076\1367910120.py:2: SyntaxWarning: invalid decimal literal
  3in z

True

In [1]:
## Nested Tuple  ##
t = (10, (20, 30), 40)
print(t[1][1])

30

In [2]:
## Tuple In Tuple  ##
x=(1,2,3,(5,4,3),2,5)
x

(1, 2, 3, (5, 4, 3), 2, 5)